{% extends "admin/app_index.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <div class="app-edu_insights module">
        <table>
            <caption>
                <a href="{% url 'admin:app_list' app_label='edu_insights' %}" class="section">{% trans "学生成绩特征" %}</a>
            </caption>
            <tbody>
                <tr>
                    <th scope="row">

                        <a href="{% url 'education_admin:edu_insights_studentscorefeatures_generate_features' %}">
                            {% trans "生成学生成绩特征" %}
                        </a>

                    </th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="{% url 'admin:generate_features' %}">
                            {% trans "查看学生成绩特征" %}
                        </a>
                    </th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    {{ block.super }}
</div>
{% endblock %} 